html {
  box-sizing: border-box;
  font-size: $text-size;
  height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  background-color: $bg-color;
  color: $text-clr-primary;
  font-size: 1.6rem;
  line-height: 1.3;
}

.page {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: var(--container-size);
  padding-left: var(--container-ident);
  padding-right: var(--container-ident);
  margin-left: auto;
  margin-right: auto;
}