.fluid-container {
  display: flex;
  justify-content: center;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  &_dark-gray {
  
    @media (max-width: 1200px) {
      background-color: #0f0f0f;
    }
  }
}

.row {
  display: flex;
}

.jcc {
  justify-content: center;
}

.col {
  display: flex;
  flex-flow: column;
}

.inline-col {
  display: inline-flex;
  flex-flow: column nowrap;
}

.section-primary {
  flex: 1 0 56%;
}

.section-secondary {
  width: 100%;
}

.content {
  padding-top: 126px;

  @include mq-down(480px) {
    padding-top: 83px;
  }
}

.btn {
  flex-grow: 0;
  padding: .66em 1.55em;
  text-decoration: none;
  color: currentColor;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 1px solid currentColor;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #1f1f1f;
    border-color: transparent;
  }
}

.svg-inline-icon {
  width: 1em;
  height: 1em;
}

.h-lvl-2 {
  font-family: $font-second;
  font-size: 2.4rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: 481px) {
    font-size: 3.6rem;
  }
}

.h-lvl-3 {
  font-family: $font-second;
  font-size: 2.4rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
}

.h-underline {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 2px;
    background-color: #fff;
  }
}

.main-logo {
  line-height: 0;
}

.menu-close {
  line-height: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.lock {
  overflow: hidden;
  padding-right: 15px;
}

body.lock .mobile-nav {
  transform: translateX(0);
  opacity: 1;
}