.row {
  display: flex;
}

.col {
  display: flex;
  flex-flow: column;
}

.inline-col {
  display: inline-flex;
  flex-flow: column nowrap;
}

.section-primary {
  min-width: 1040px;
}

.section-secondary {
  max-width: 50%;
  flex-grow: 1;
}

.btn {
  flex-grow: 0;
  padding: .66em 1.55em;
  text-decoration: none;
  color: currentColor;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 1px solid currentColor;
  transition: border .2s ease-in-out;

  &:hover {
    border: 1px solid transparent;
  }
}

.svg-inline-icon {
  width: 1em;
  height: 1em;
}

.h-lvl-2 {
  font-family: $font-second;
  font-size: 3.6rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.h-underline {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 2px;
    background-color: #fff;
  }
}