@mixin background-image($size, $position, $repeat) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

@mixin absolute-stretch {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin mq-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin mq-up($width) {
  @media (min-width: $width) {
    @content;
  }
}