// Vars
$text-clr-primary: #fff;
$text-clr-second: #989898;
$text-size: 62.5%;
$bg-color: #000;
$bg-color-nav: #0f0f0f;
$container-size: 1130px;
$container-ident: 20px;

// Fonts
$font-primary: 'PT Sans', sans-serif;
$font-second: 'Playfair Display', serif;

// Root Vars
:root {
  --container-size: 1150px;
  --container-ident: 20px;
}