.authorization {

  &__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: currentColor;
    font-size: 2.5rem;
    font-weight: 700;
    transition: color .3s ease-in-out;
  }

  &__link_log:hover {
    color: green;
  }
  &__link_reg:hover {
    color: $text-clr-second;
  }

  &__link_log { margin-right: 1em }
}