.brands {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #0f0f0f;

  &__title {
    padding-bottom: 1.1111em;
    margin-bottom: 40px;
  }

  &__body {
    --logo-idents: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: calc(-1 * var(--logo-idents));
  }

  &__logo {
    max-width: 255px;
    margin: var(--logo-idents);
    flex: 1 0 auto;
  }

  &__img {
    max-width: 100%;
  }
}