.category {
  --category-gutter: 10px;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--category-gutter));

    @media (max-width: 440px) {
      justify-content: center;
    }
  }

  li {
    margin: var(--category-gutter);
  }

  li:hover a {
    background-color: #191b1c;
  }

  a {
    display: block;
    font-size: 1.4rem;
    padding: 1.428em;
    background-color: #0f0f0f;
    color: currentColor;
    text-decoration: none;
    transition: background-color .2s ease-in-out;
  }
}