.collections {
  --collections-indent: 100px;

  align-items: center;
  padding-top: var(--collections-indent);
  padding-bottom: var(--collections-indent);
  padding-left: 1em;
  padding-right: 1em;

  &__title {
    padding-bottom: 1.111111em;
    margin-bottom: 40px;
  }
  
  &__description {
    max-width: 470px;
    margin-bottom: 60px;
    text-align: center;
  }
}