.form {

  &__body {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 440px) {
      justify-content: center;
    }
  }

  &__item {
    padding: 15px 20px;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
    
    @media (max-width: 440px) {
      flex: 1;
    }

    &_email {
      min-width: 210px;
      background-color: rgba(#fff, .4);
      color: #fff;
    }

    &_email:focus {
      z-index: 1;
    }

    &_email::placeholder {
      color: $text-clr-second;
    }

    &_btn {
      background-color: #0f0f0f;
    }

    &_btn:hover {
      cursor: pointer;
    }

    &_btn span {
      color: $text-clr-primary;
    }
  }
}