.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;

  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    
    background-color: #0f0f0f;
  }
}