.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  transition: all .2s ease-in-out;
  
  &.header_hide {
    transform: translateY(-48px);
  }

  &:not(.header_hide) .top-line {
    @include mq-down(480px) {
      display: none;
    }
  }

  

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;
  }

  &__bottom { background-color: #0f0f0f; }

  &__logo {
    @include mq-down(400px) {
      display: none;
    }
  }
}