.hero {
  padding-top: 16rem;
  padding-bottom: 16rem;
  background-image: url("../img/hero.jpg");
  background: linear-gradient(
      to right,
      rgba(15, 15, 15, 0.5),
      rgba(15, 15, 15, 0.5)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 1em;
  }

  &__logo {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 8rem;
    padding: 9rem 7rem;
    border: 2px solid #fff;
    transition: padding .3s ease-in-out;

    @media (max-width: 768px) {
      padding: 5rem 3rem;
    }
  }

  &__img-box {
    min-width:  185px;
    align-self: center;
    border-bottom: 2px solid #fff;
  }

  &__img {
    width: 100%;
    max-width: 100%;
  }

  &__title {
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  &__text {
    max-width: 730px;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    transition: max-width, padding .3s ease-in-out;

    @include mq-down(992px) {
      max-width: 500px;
    }

    @include mq-down(480px) {
      font-size: 1.4rem;
    }
    
  }
}