.new-collection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 150px;
  padding-bottom: 200px;
  @include background-image('new-collection-bg.jpg', cover, center, no-repeat);
  background: linear-gradient(
    to right,
    rgba(15, 15, 15, 0.5),
    rgba(15, 15, 15, 0.5)
  ),
  url("../img/new-collection-bg.jpg");

  &__body {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__title {
    margin-top: auto;
    padding-bottom: .84em;
    margin-bottom: 3rem;
  }

  &__link {
    line-height: 1;
  }
}