.new-season {
  $card-gap: 25px;
  display: inline-flex;
  padding: 60px 55px;
  flex-direction: column;

  &__title {
    $title-ident: 50px;
    text-align: center;
    padding-bottom: $title-ident;
    margin-bottom: $title-ident;
  }

  &__body {
    display: flex;
  }

  // &__body > * + * {
  //   margin: 0 0 0 50px;
  // }

  &__watch-card {
    flex: 1 1 auto;
    padding: $card-gap;
    border: .3em solid transparent;
    transition: border-color .2s ease-in-out;

    &:hover {
      border-color: #1f1f1f;
    }

    &:hover .watch-card__img-wrap {
      background-color: transparent;
    }
  }
}