.new-season {
  $card-gap: 25px;
  display: inline-flex;
  max-width: 1040px;
  padding: 90px 80px;
  flex-direction: column;

  &__title {
    $title-ident: 50px;
    text-align: center;
    padding-bottom: $title-ident;
    margin-bottom: $title-ident;
  }

  &__body {
    display: flex;
    margin: -#{$card-gap};
  }

  &__watch-card {
    flex: 1 1 auto;
    margin: $card-gap;
  }
}