.new-arrivals {
  --watchCard-baseGap: 10px;

  padding-top: 12rem;
  padding-bottom: 15rem;

  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: calc(var(--watchCard-baseGap) * -1);
    margin-right: calc(var(--watchCard-baseGap) * -1);
    margin-top: calc(var(--watchCard-baseGap) * -2);
    margin-bottom: calc(var(--watchCard-baseGap) * -2);
  }

  &__title {
    padding-bottom: 1.1111em;
    margin-bottom: 8rem;
  }

  &__watch-card {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    margin-right: var(--watchCard-baseGap);
    margin-left: var(--watchCard-baseGap);
    margin-top: calc(var(--watchCard-baseGap) * 2);
    margin-bottom: calc(var(--watchCard-baseGap) * 2);
  }
}