.top-line {
  background-color: #000;

  &__inner {
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.top-line-info {
  display: flex;
}
.top-line-info__item,
.top-line-user__link {
  color: $text-clr-second;
  font-size: 1.2rem;
}

.top-line-info,
.top-line-user,
.top-line-user__icon,
.top-line-info__icon {
  display: flex;
  align-items: center;
}

.top-line-info,
.top-line-user {
  display: inline-flex;
}

.top-line-info {
  &__icon {
    margin-right: 15px;
    font-size: 1.6rem;
  }

  &__number {
    text-decoration: none;
    color: currentColor;
  }

  &__item {
    position: relative;
    flex: 1 0 auto;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item::after {
    position: absolute;
    right: -15px;
  }
  &__item:not(:last-child)::after {
    content: "|";
    display: inline-block;
  }
}

.top-line-user {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 10px;
    font-size: 2rem;
  }

  &__item {
    flex: 1;
  }

  &__item_login::after {
    content: "/";
    font-size: 1.65rem;
    margin-left: 5px;
    margin-right: 5px;
    color: $text-clr-second;
  }

  &__link {
    text-decoration: none;
  }
}
