.watch-card {
  display: inline-flex;
  flex-flow: column nowrap;

  &__img-wrap {
    margin-bottom: 25px;
    padding: 55px 22px;
    background-color: #191b1c;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__product-name,
  &__price {
    font-family: $font-second;
  }

  &__product-name {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 1.6rem;
    font-weight: 700;
  }
}